// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Foundation settings
@import "foundation/settings";

// Foundation
@import '~foundation-sites/assets/foundation';

header {
    background-color: #e6e6e6;
}

section, .top-bar {
    max-width: 1200px;
    margin: auto auto 30px;
}

textarea {
    resize: vertical;
}
